<%== erb :header %>

<div class="container horizontally-centred">

  <div class="well">

    <% unless @error.nil? %>
        <div class="alert alert-danger">
          <p><%= @error %></p>
        </div>
    <% end %>

    <form action="/change_password" method="post">
      <div class="form-group">
        <label for="current_password">Enter your current password: </label>
        <input id="current_password" class="form-control" type="password" name = "current_password"/>
      </div>
      <div class="form-group">
        <label for="new_password1">Enter your new password: </label>
        <input id="new_password1" class="form-control" type="password" name = "new_password1"/>
      </div>
      <div class="form-group">
        <label for="new_password2">Enter your new password: </label>
        <input id="new_password2" class="form-control" type="password" name = "new_password2"/>
      </div>
      <input class="btn btn-primary" id="loginButton" type="submit" value="Change password" />

    </form>
  </div>
</div>

<%== erb :footer %>