<%== erb :header %>

<div class="container">
  <div class="jumbotron">
    <h1>Uh Oh</h1>
    <p>Something's wrong with the database - perhaps it's corrupt or doesn't exist.</p>
  </div>
</div>

<%== erb :footer %>