<%== erb :header %>

<div class="container">
  <div class="jumbotron">
    <h1>Whoops!</h1>
    <p>Twitter's received too many requests. Please wait 15 minutes before trying again.</p>
  </div>
</div>

<%== erb :footer %>