<%== erb :header %>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class = "list-unstyled">
        <li><a href="/change_password">Change your password</a></li>
        <li><a href="/change_email">Change your email address</a></li>
      </ul>
    </div>
  </div>
</div>

<%== erb :footer %>