.panel[class*="col-"]{
    padding:0;
}

textarea {
    resize: none;
}

.spaced-form-element{
    margin-bottom: 10px;
}

.centred{
    text-align:center;
}

.login-background{
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url('../images/Highland_scenic_highway.jpg');
}

.vertically-centred{
    min-height:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
}

.horizontally-centred{
    min-width:100%;
    min-width:100vh;
    display:flex;
    align-items:center;
}